.projects-container {
  height: 100%;
  width: 100%;
  background-color: #272935;
  padding-bottom: 100px;
}

.projects-header {
  font-family: "Nunito Sans";
  font-size: 40px;
  line-height: 41px;
  font-style: normal;
  font-weight: 600;
  color: #98a6ad;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.first-projects {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .projects-header {
    font-size: 28px;
    line-height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .projects-header {
    font-size: 24px;
    line-height: 14px;
  }
}
