.skills-container {
  height: 600px;
  width: 100%;
  background-color: #23252f;
}

.skills-header {
  font-family: "Nunito Sans";
  font-size: 40px;
  line-height: 41px;
  font-style: normal;
  font-weight: 600;
  color: #98a6ad;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.first-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.second-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .skills-header {
    font-size: 28px;
    line-height: 25px;
  }
  .skills-container {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .skills-header {
    font-size: 24px;
    line-height: 14px;
  }
  .skills-container {
    height: 450px;
  }
}
