.contact-container {
  height: 650px;
  width: 100%;
  background-color: #23252f;
}

.form-container {
  display: flex;
  justify-content: center;
}

.contact-header {
  font-family: "Nunito Sans";
  font-size: 40px;
  line-height: 41px;
  font-style: normal;
  font-weight: 500;
  color: #98a6ad;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.phone-icon {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 20px;
}

.email-icon {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 20px;
}

.name-form {
  background-color: #44475a;
  width: 770px;
  height: 42.5px;
  border-radius: 8px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.email-form {
  background-color: #44475a;
  width: 770px;
  height: 42.5px;
  border-radius: 8px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.subject-form {
  background-color: #44475a;
  width: 770px;
  height: 42.5px;
  border-radius: 8px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.message-form {
  background-color: #44475a;
  width: 770px;
  height: 150.5px;
  border-radius: 8px;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.send-button:hover {
  color: #795548;
}
